body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 80px 20px;
  text-align: center;
}

#inicio {
  background: #f4f4f4;
}